 // Severi Jokelainen/Web-projekti 12/2022
 
 /* 
YLEINEN TYYLITTELY ALKAA

VÄRIKOODIT 
#0F66A8  footer nav background ehdotus
#F05A56  
#3EA2F0  background color ehdotus
#ECF026
#A1A322 
*/
@import "./variables";

@font-face {            //lähde: https://fonts.google.com
    font-family: "Sono";
    src: url(/Pages/Fonts/Sono-VariableFont_MONO\,wght.ttf);
}
body {
    font-family: "Sono";
    font-weight: 500;
    background-image: url(/Index/Images/black-g4ec6f0509_1920.jpg);
    color: white;

}
a {
    text-decoration: none;
    color: white;
}
h1, p {
    text-align: center;
    
}
.headertext, table {
    background-color: rgba(0, 0, 0, 0.479) ;
}
.col {
    border-radius: 5px;
    background-color: $mainColor;
    margin: 30px;
}
.offcanvas{
    background-image: url(/Index/Images/workplace-g4e36d3dde_1920.jpg);
    background-size: cover;
    color: black;
        h4{
            color: black;
        }
}

#menubutton {
    font-size: 3em;
    position: absolute;
    top: 1vh;
    margin-right: 5px;
  }

.row3 {
    justify-content: center;
}


// Navigaatiopalkin ikoneiden tyylit (lähde:https://fonts.google.com/icons)
.NaviLinks h4{
    display: flex;
    justify-content: space-between;
        &:hover {
            color: $mainColor;
        }
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size: 30px;
  }

  /* YLEINEN TYYLITTELY PÄÄTTYY */