// Severi Jokelainen/Web-projekti 12/2022
// Alla oleva tyylittely koskee jokaista tehtäväikkunaa, joka avautuu kuvalinkeistä painamalla.
// Osa koodista lainattu sivulta https://www.w3schools.com/w3css/w3css_modal.asp

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
.modalwrap{
    display: none;
    position: fixed; 
    z-index: 2;  
    left: 10%;
    top: 15%;
    width: 80%; 
    height: 70%;
    animation-name: zoom;
    animation-duration: 0.5s;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
    .modal-content {                // Kysymyslaatikkojen muotoilu
        position: absolute;
        top: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-decoration: none;
        font-size: small;
        text-align: left;
        padding: 10px;
            p {        //Kysymysten teksti
                font-size: large;
                border: $whiteBorder;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 20px;
            }
            @media screen and (max-width: 1060px) {
                flex-direction: column;
            }
    }
    .close, .close2, .close3 {          //Rasti-ikoni, joka sulkee ikkunan
        position: absolute;
        top: 0px;
        right: 30px;
        color: #f1f1f1;
        font-size: 60px;
        font-weight: bold;
        transition: 0.3s;
        &:hover {
            cursor: pointer;
        }
    }
    #answerButton, #answerButton2, #answerButton3 {     //Painikkeet, joilla tehtävät tarkastetaan.
        position: absolute;
        top: 80%;
        right: 35%;
        font-size: large;
        width: 30%;
        height: 10%;
            &:hover {
                background-color: $redAccent;
            }
            @media screen and (max-width: 1060px) {
                top: 20px;
            }
            @media screen and (max-width: 425px) {
                top: 45px;
                font-size: 0.8em;
            }
    }
    #tryAgain, #tryAgain2, #tryAgain3 {             //Painikkeet, joilla tehtäväpakettia voi yrittää uudelleen.
        display: none;
        position: absolute;
        top: 80%;
        right: 40%;
        font-size: large;
        width: 20%;
        height: 8%;
            &:hover {
                background-color: $redAccent;
            }
            @media screen and (max-width: 1060px) {
            top: 20px;
            left: 70%;
            font-size: 0.8em;
            }
            @media screen and (max-width: 425px) {
                font-size: 0.8em;
                top: 70px;
                left: 6%;
                width: 60%;
                height: 5%;
            }
    }
}

#results, #results2, #results3 {            //Tuloslaatikon muotoilu: tähän tulostetaan kaikki käyttäjälle näytettävä teksti, esim. pisteet.
    background-color: #3ea3f0cb;
    border: $whiteBorder;
    position: absolute;
    top: 2vh;
    left: 2vh;
    font-size: large;
        @media screen and (max-width: 1060px) {
            font-size: 0.85em;
        }
        @media screen and (max-width: 425px) {
            width: 70%;
        }
    }
