@charset "UTF-8";
/* 
YLEINEN TYYLITTELY ALKAA

VÄRIKOODIT 
#0F66A8  footer nav background ehdotus
#F05A56  
#3EA2F0  background color ehdotus
#ECF026
#A1A322 
*/
@font-face {
  font-family: "Sono";
  src: url(/Pages/Fonts/Sono-VariableFont_MONO\,wght.ttf);
}
body {
  font-family: "Sono";
  font-weight: 500;
  background-image: url(/Index/Images/black-g4ec6f0509_1920.jpg);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

h1, p {
  text-align: center;
}

.headertext, table {
  background-color: rgba(0, 0, 0, 0.479);
}

.col {
  border-radius: 5px;
  background-color: #0f66a8;
  margin: 30px;
}

.offcanvas {
  background-image: url(/Index/Images/workplace-g4e36d3dde_1920.jpg);
  background-size: cover;
  color: black;
}
.offcanvas h4 {
  color: black;
}

#menubutton {
  font-size: 3em;
  position: absolute;
  top: 1vh;
  margin-right: 5px;
}

.row3 {
  justify-content: center;
}

.NaviLinks h4 {
  display: flex;
  justify-content: space-between;
}
.NaviLinks h4:hover {
  color: #0f66a8;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 30px;
}

/* YLEINEN TYYLITTELY PÄÄTTYY */
@-webkit-keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.modalwrap {
  display: none;
  position: fixed;
  z-index: 2;
  left: 10%;
  top: 15%;
  width: 80%;
  height: 70%;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modalwrap .modal-content {
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  font-size: small;
  text-align: left;
  padding: 10px;
}
.modalwrap .modal-content p {
  font-size: large;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}
@media screen and (max-width: 1060px) {
  .modalwrap .modal-content {
    flex-direction: column;
  }
}
.modalwrap .close, .modalwrap .close2, .modalwrap .close3 {
  position: absolute;
  top: 0px;
  right: 30px;
  color: #f1f1f1;
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
}
.modalwrap .close:hover, .modalwrap .close2:hover, .modalwrap .close3:hover {
  cursor: pointer;
}
.modalwrap #answerButton, .modalwrap #answerButton2, .modalwrap #answerButton3 {
  position: absolute;
  top: 80%;
  right: 35%;
  font-size: large;
  width: 30%;
  height: 10%;
}
.modalwrap #answerButton:hover, .modalwrap #answerButton2:hover, .modalwrap #answerButton3:hover {
  background-color: #F05A56;
}
@media screen and (max-width: 1060px) {
  .modalwrap #answerButton, .modalwrap #answerButton2, .modalwrap #answerButton3 {
    top: 20px;
  }
}
@media screen and (max-width: 425px) {
  .modalwrap #answerButton, .modalwrap #answerButton2, .modalwrap #answerButton3 {
    top: 45px;
    font-size: 0.8em;
  }
}
.modalwrap #tryAgain, .modalwrap #tryAgain2, .modalwrap #tryAgain3 {
  display: none;
  position: absolute;
  top: 80%;
  right: 40%;
  font-size: large;
  width: 20%;
  height: 8%;
}
.modalwrap #tryAgain:hover, .modalwrap #tryAgain2:hover, .modalwrap #tryAgain3:hover {
  background-color: #F05A56;
}
@media screen and (max-width: 1060px) {
  .modalwrap #tryAgain, .modalwrap #tryAgain2, .modalwrap #tryAgain3 {
    top: 20px;
    left: 70%;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 425px) {
  .modalwrap #tryAgain, .modalwrap #tryAgain2, .modalwrap #tryAgain3 {
    font-size: 0.8em;
    top: 70px;
    left: 6%;
    width: 60%;
    height: 5%;
  }
}

#results, #results2, #results3 {
  background-color: rgba(62, 163, 240, 0.7960784314);
  border: 1px solid white;
  position: absolute;
  top: 2vh;
  left: 2vh;
  font-size: large;
}
@media screen and (max-width: 1060px) {
  #results, #results2, #results3 {
    font-size: 0.85em;
  }
}
@media screen and (max-width: 425px) {
  #results, #results2, #results3 {
    width: 70%;
  }
}

/* Sepin index */
.links {
  height: 250px;
  background: none;
}
.links img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.links:hover {
  cursor: pointer;
  color: #3EA2F0;
}
@media screen and (max-width: 530px) {
  .links {
    font-size: 0.7em;
  }
}

.col-4 {
  padding: 0px;
  height: 40vh;
}
.col-4 p {
  position: relative;
  bottom: 98%;
}

.row2 {
  justify-content: center;
}

#footer, #nomargin {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #0f66a8;
  margin-bottom: 2px;
  margin-left: 0;
  justify-content: center;
  z-index: 0;
  background-image: url(/Index/Images/puuHeader.jpg);
  background-repeat: none;
}

#nomargin {
  margin: 0;
  padding-top: 0.1vh;
}

.carousel {
  margin-top: 25vh;
  font-size: large;
}
.carousel .carIcon {
  height: 70px;
  width: 70px;
  background-color: #3EA2F0;
  border-radius: 15px;
}
.carousel .carousel-indicators {
  height: 5px;
}
.carousel .carousel-indicators [data-bs-target] {
  background-color: #3EA2F0;
  border: 1px solid #3EA2F0;
  border-radius: 5px;
  height: 10px;
  width: 40px;
}

@media screen and (max-width: 767px) {
  .col-3 {
    width: 80%;
    height: auto;
    background-color: #3EA2F0;
  }
  .col-3 p {
    position: relative;
    top: 0%;
  }
}/*# sourceMappingURL=sepiIndex.css.map */