// Severi Jokelainen/Web-projekti 12/2022

@import "./variables";
@import "./mainStyle";
@import './modaaal';

/* Sepin index */
// Linkkinä toimivien kuvien tyylittelyt, kuvien lähde: pixabay.com
.links {
    height: 250px;
    background: none;
    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    &:hover {
        cursor: pointer;
        color: $accentColor;
    }
    @media screen and (max-width: 530px) {
        font-size: 0.7em;
    }
}
.col-4 {
    padding: 0px;
    height: 40vh;
    p{
        position: relative;
        bottom: 98%;
    }
}

.row2 {
    justify-content: center;
}
// Footerin ja headerin tyylit
#footer, #nomargin {
    border: 2px solid black;
    border-radius: 5px;
    background-color: $mainColor;
    margin-bottom: 2px;
    margin-left: 0;
    justify-content: center;
    z-index: 0;
    background-image: url(/Index/Images/puuHeader.jpg);
    background-repeat: none;
  }
#nomargin {
  margin: 0;
  padding-top: 0.1vh;
}
// Karusellin tyylit
.carousel {
  margin-top: 25vh;
  font-size: large;
  .carIcon{
    height: 70px;
    width: 70px;
    background-color:$accentColor;
    border-radius: 15px;
  }
  .carousel-indicators {
    height: 5px;
        // NÄÄ ON NE NAPIT
        [data-bs-target]{ 
            background-color: $accentColor;
            border: 1px solid $accentColor;
            border-radius: 5px;
            height: 10px;
            width: 40px;
        }
}
}


@media screen and (max-width: 767px){
    .col-3 {
        width: 80%;
        height: auto;
        background-color: $accentColor;
        p {
            position: relative;
            top: 0%;
        }
    }
}
